.Cake{
    background: url('../images/birthday_cake.jpg') no-repeat fixed ;
    background-size: cover;
}

.Party{
    background: url('../images/birthday_party.jpg') no-repeat fixed;
    background-size: cover;
}

.Colors{
    background: url('../images/colors.png') no-repeat fixed;
    background-size: cover;
}

.Side-Style{
    background: url('../images/side_style.jpg') no-repeat fixed;
    background-size: cover;
}

.Decor{
    background: url('../images/decor.jpg') no-repeat fixed;
    background-size: cover;
}

.Rangoli{
    background: url('../images/rangoli_pattern.jpg') no-repeat fixed;
    background-size: cover;
}

.Scenery{
    background: url('../images/scenery.jpg') no-repeat fixed;
    background-size: cover;
}

.Triangles{
    background: url('../images/triangles.webp') no-repeat fixed;
    background-size: cover;
}

.Mexica-Folk{
    background: url('../images/mexican-folk-wedding-or-party-invitation-vector-17979085.jpg') no-repeat fixed;
    background-size: cover;
}

.Stars{
    background: url('../images/stars-pattern.png') no-repeat fixed;
    background-size: cover;
}

/* select{
    font-family: 'font awesome';
}

.fa option {
    font-weight: 900 !important;
} */

/* rule in main.js */
.line{
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}