/* .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ccc;
    border: 1px dashed black;
    text-align: center;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.custo-box{
    overflow: visible;
}

.custom-handle{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #eee;
    opacity: 0.75;
    border-radius: 2px;
}

.custom-handle-se{
    bottom: -8px;
    right: -8px;
    cursor: se-resize;
} */